@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {margin-top: 25px;}

.container {
    margin: auto;
    background-color: rgb(215, 249, 238);
    width: 75%;
    border: 8px solid #210398;
    padding: 10px; 
}

.img-main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-family: anton;
}

h2 {text-align: center;}

h3 {
    text-align: center;
    font-family: oswald;
}

.description {
    font-family: koho;
    text-align: center;
}

.cite-mid {
    text-align: center;
    background-color:#1f0552 ;
    color: antiquewhite;
}

cite {
    font-family: oswald;
}
